/* Basic Font/Color design */
body{
	background-color: #eeebdd;
	color: #810000;

}
h1,h2{
	font-family: 'Train One', cursive;
	font-size: 30px;
}
p{
	font-family: 'Raleway', sans-serif;
	color: #1b1717;
}
a{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #630000;
}
a-hover{
	color: red;
}

/*Media Function*/
@media(max-width: 500px) {
	.Container {
		width: 400px;
	}
}

@media(max-width: 760px) {
	.Container {
		width: 600px;
	}
}
/*Page Design/layout */
.Container{
	width: 800px;
	margin: 10px auto;
}

.white-cards{
	text-align: center;
	background: white;
	padding: 60px;
	margin: 50px;
	box-shadow: 0px 10px 30px rgba(0,0,1,0.2);
	border-radius: 8px
}

/* Links and Face Design */
#Face{
	border-radius: 50%;
	width: 100px;
	box-shadow: 3px 3px 1px rgba(0,0,2,0.4);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Align{
	text-align: center;
}

.Social_Links{
	list-style: none;
	padding-left: 0px;
}
.Social_Links > li {
	display: inline;
	padding: 0px 20px;
}

#Essec_link{
	text-align: center;
	width: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    color: blue;
}
